/* styles.css */

/* Add styles here to customize the appearance of your app */

@import "fonts.css";

@import "sidebar.css";

body {
    font-family: "DM Sans", sans-serif;
    background-image: url("../images/background.svg");
    background-color: #f0f9ff;
}

h1,h2,h3,h4,h5 {
    font-family: Gilroy, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    padding: 20px;
}

#recoveryResult {
    width: 100%;
}

.row {
    --bs-gutter-x: 0;
}

.copy-icon-password {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 7px 0 0 15px;
}

.copy-icon-password:hover {
    width: 27px;
    height: 27px;
    margin: 7px 0 0 14px;
}

.rsa-key-public-col {
    padding-right: 5px;
}

.rsa-key-private-col {
    padding-left: 5px;
}

#generate-rsa-result-container {
    padding-top: 0;
}

.input-label {
    margin: auto;
    width: 50%;
}

select.form-control {
    -webkit-appearance: menulist;
    width: fit-content;
}