<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../resources/css/bootstrap.min.css" rel="stylesheet">
    <title>About</title>
</head>
<body>

    <div class="container">
        <div class="row">
            Lorem ipsum dolor sit amet consectatur.
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"><button type="button" class="btn btn-primary">Close</button></div>
            <div class="col"></div>
        </div>
    </div>

</body>
</html>