<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="../resources/css/bootstrap.min.css" rel="stylesheet">
        <link href="../resources/css/styles.css" rel="stylesheet">
        <title>Crypto APIs Wallet Recovery Tool</title>
    </head>
    <body>
    <div class="row">
        <div class="col-3">
            <!-- Sidebar -->
            <nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
                <div class="list-group list-group-flush p-4 text-center">
                    <a id="logo" href="#">
                        <img class="w-100" alt="Logo" src="../resources/images/logo.svg"/>
                    </a>
                </div>
                <div class="list-group list-group-flush">
                    <button id="home"
                            class="list-group-item list-group-item-action py-3 pl-2 ripple"
                            aria-current="true">
                        <span>Home</span>
                    </button>
                </div>
                <div class="list-group list-group-flush">
                    <button id="generate-password"
                            class="list-group-item list-group-item-action py-3 pl-2 ripple active-menu-option"
                            aria-current="true">
                        <span>Generate Random Password</span>
                    </button>
                </div>
                <div class="list-group list-group-flush">
                    <button id="rsa-key-pairs"
                            class="list-group-item list-group-item-action py-3 pl-2 ripple"
                            aria-current="true">
                        <span>Generate RSA Key</span>
                    </button>
                </div>
                <div class="list-group list-group-flush">
                    <button id="recovery"
                            class="list-group-item list-group-item-action py-3 pl-2 ripple"
                            aria-current="true">
                        <span>Recover Wallet</span>
                    </button>
                </div>
            </nav>
            <!-- Sidebar -->
        </div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <h1>Generate Random Password</h1>
                    <p>You can use your own password or this random generator to create a complex password, which could be used to encrypt the private key of the RSA key. It will be needed to recover your Wallet.</p>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button id="generate-new-password-button" class="btn btn-success">Generate New Password</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center w-75 m-auto mt-3">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="text" id="generate-new-password-input" class="form-control text-center" disabled/>
                    <img id="copy-icon" class="copy-icon-password" alt="Logo" src="../resources/images/copy.svg"/>
                </div>
            </div>
        </div>
    </div>
    <script src="common.js"></script>
    <script src="password-generator.js"></script>
    </body>
</html>
